<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles/styles-sobre-nos.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="body-sobre-nos">
    <nav class="Navbar">
      <img src="{{url_for('static',filename='images/logo.png')}}" alt="logo">
        <h1>
            <a href="about">Sobre nós</a>
        </h1>
        <h1>
            <a href="..">Página inicial</a>
        </h1>
    </nav>

    <div class="card">
        <div class="card-content" class="Font-Large">
            <h1>Maria Luiza Queiroz</h1>
            <p class="Font-Large">Olá! Desde sempre, sou encantada pelo poder da educação e vejo nela uma ferramenta promissora para o futuro dos jovens. 
            Participar de um projeto que incentiva e facilita a disseminação do conhecimento de maneira mais eficiente é, para mim, uma honra e uma realização!
            </p>

            <a href="https://github.com/GabrielM0nteir0" class="autor">
                @Maria Luiza
            </a>
        </div>
        <img src="{{url_for('static',filename='images/foto_imersao.jpeg')}}" alt="GIF de Celebração" class="card-gif">
    </div>

    <div class="card">
      <img src="{{url_for('static',filename='images/GabrielMonteiroImersao.jpg')}}" alt="GIF de Celebração" class="card-gif">
        <div class="card-content">
            <h1>Gabriel Monteiro</h1>
            <p class="Font-Large-GM">Oi, sou o Gabriel Monteiro e sempre gostei de enfrentar novos desafios por isso em 2022 entrei para o Ismart, projeto que me
            apresentou o Jovem Talento Tech que hoje me expandiu os horizontes e me fez estar aqui.
            </p>
            
            <a href="https://github.com/GabrielM0nteir0" class="autor">
                @Gabriel M0nteir0
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h1>Iago Alves Dias</h1>
            <p class="Font-Large">Akai Keisanki (Iago Alves Dias) é um jovem programador brasileiro focado em tarefas de baixo nível, experimentação e matemática. 
            Ele também é um músico, fotógrafo e escritor iniciante.
            </p>

            <a href="https://github.com/akai-keisanki" class="autor">
                @akai-keisanki
            </a>
        </div>
        <img src="{{url_for('static',filename='images/Iago.jpg')}}" alt="GIF de Celebração" class="card-gif">
    </div>

    <div class="card">
      <img src="{{url_for('static',filename='images/Maria-Rita.JPG')}}" alt="GIF de Celebração" class="card-gif">
        <div class="card-content" class="Font-Large">
            <h1>Maria Rita</h1>
            <p class="Font-Large">Maria Rita é uma menina de 16 anos que nasceu no Rio de Janeiro e sonha em ser Engenheira Aeroespacial. 
            Com o Atena, um dos seus objetivos é facilitar a vida das pessoas por meio da Tecnologia.       
            </p>

            <a href="https://github.com/GabrielM0nteir0" class="autor">
                @Maria Rita
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h1>Mayllon Luan Mendes Vera</h1>
            <p class="Font-Large">Olá, neste projeto você responderá a um questionário dizendo quais informações queira adicionar a descrisão do cartão, adicionar (caso seja de seu interesse) uma a ele
             e poderá baixá-lo ao final.
            </p>

            <a href="https://github.com/GabrielM0nteir0" class="autor">
                @Mayllon
            </a>
        </div>
        <img src="{{url_for('static',filename='images/Mayllon.JPG')}}" alt="GIF de Celebração" class="card-gif">
    </div>

</body>

</html>
